<!DOCTYPE>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
This is subjectDetail vm...
THe current subject id is $!{subject.id}
The current subject name is $!{subject.vcName}
</body>